body {
    font-family: Helvetica;
    font-size: 22px;
    color:seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.logo {
    height: 50px;
}

.header {
    border-bottom: 1px solid seashell;
    text-decoration: underline;
}